// ---------------------------------------------------------------------
//  Link & Button Styles
// ---------------------------------------------------------------------
//
@mixin btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: $mono;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.32px;
  text-transform: uppercase;

  span {
    background: $black;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    min-width: 59px;
    height: 59px;
    padding: 0 24px;
    transition: all .4s;

    + span {
      padding: 0;
    }
  }

  svg,
  svg path {
    fill: currentColor;
    transition: transform .4s;
  }


  &:hover {
    cursor: pointer;

    span {
      padding-right: 60px;
    }
    span + span {
      padding-right: 0;
      transform: translate3d(-54px, 0, 0);

      svg {
        transform: translate3d(-10px, 0, 0);
      }
    }
  }
}

.btn {
  @include btn;
}

.btn--center {
  &:hover {
    cursor: pointer;

    span {
      padding-right: 60px;
      transform: translate3d(34px, 0, 0);
    }
    span + span {
      padding-right: 0;
      transform: translate3d(-24px, 0, 0);

      svg {
        transform: translate3d(-10px, 0, 0);
      }
    }
  }
}

.btn--white {
  span {
    background: $white;
    color: $black;
  }
}

.btn--sm {
  height: 44px;
  min-width: 146px;
}

.btn-group {
  display: flex;
  grid-gap: 12px;
  flex-wrap: wrap;
  align-items: center;

  @include stop-at($small) {

    .btn-standard {
      width: 100%;
    }
  }
}

.btn-standard {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
  border: 1px solid $white;
  height: 72px;
  padding: 12px 24px;
  border-radius: 50px;
  text-decoration: none !important;
  transition: all .3s;

  &:hover {
    border-color: $gray-text;
    color: $gray-text;
  }

  svg {

  }
}

p + .btn,
ul + .btn,
ol + .btn {
  margin-top: 24px;

  @include start-at($medium) {
    margin-top: 36px;
  }
}
