// ---------------------------------------------------------------------
//  Site Footer Styles
// ---------------------------------------------------------------------

.site-footer {
  padding: 24px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: $mono;
  background-color: $black;
  color: $white;

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 48px;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 8px;
    text-decoration: none;
    font-size: 16px;
  }

  .footer__logo {
    width: 350px;
    margin-bottom: 24px;
  }

  img {
    width: 350px;
  }

  @include start-at($medium) {
    padding: 120px 0;

    .footer__links {
      min-width: 300px;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// ----------------------------------------
//
// ----------------------------------------