/* ===============================================
   Accordion Block Styles
=============================================== */

.block-accordion {
  margin: 0;

  +.block-accordion {
    margin-top: -1px;
  }
}

.accordion {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: -1px;
  border-top: 2px solid $black;


  .accordion__hd {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    transition: transform 0.4s ease-in-out, color 0.4s ease-in-out;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 6px solid $black;

    .underline-blue {
      &:after {
        opacity: 0;
      }
    }

    &:hover {
      cursor: pointer;

      .underline-blue {
        &:after {
          opacity: 1;
        }
      }

      .accordion__title {
        opacity: 0.9;
      }

      .accordion__icon {
        transform: rotate(-65deg);
      }
    }

    .accordion__title {
      width: 100%;
      display: block;
      margin-bottom: 0 !important;
      transition: opacity 0.4s ease-in-out;
      font-size: 28px;

      @include start-at($medium) {
        font-size: 40px;
        letter-spacing: -0.8px;
      }
    }
  }

  .accordion__icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-origin: center;
    //transition: transform 0.4s ease-in-out;
    transform: rotate(-90deg);

    @include stop-at($medium) {
      width: 40px;
      height: 40px;
    }

    svg {
      width: 48px;
    }
  }

  .accordion__bd {
    overflow: hidden;

    >div {
      padding: 24px 0;


      @media (min-width: 782px) {
        padding: 32px 0;
      }
    }

    >div>div {
      border-left: 1px solid $black;
      padding-left: 24px;

      @media (min-width: 782px) {
        padding-left: 32px;
      }
    }
  }

  &.is-open {
    .accordion__icon {
      transform: rotate(0);
    }

    .accordion__hd:hover {
      .accordion__icon {
        transform: rotate(0);
      }
    }

    .underline-blue {
      &:after {
        opacity: 1;
      }
    }
  }

  &.is-empty {
    .accordion__icon {
      display: none !important;
    }

    .accordion__hd {
      cursor: text;

      &:hover {
        cursor: text;
      }
    }

    .accordion__bd {
      display: none !important;
    }
  }

  &.has-empty-description {
    .accordion__icon {
      display: none !important;
    }

    .accordion__hd {
      cursor: default !important;

      &:hover {
        cursor: default !important;

        .accordion__title {
          opacity: 1 !important;
        }

        .underline-blue {
          &:after {
            opacity: 0 !important;
          }
        }
      }
    }
  }

  @media (min-width: 782px) {
    .accordion__hd {
      text-align: left;
    }
  }
}

@media (min-width: 1012px) {}

/* Admin Styles */
.is-root-container {
  .accordion {
    .accordion__bd {
      display: block;
    }
  }
}