// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------

.card-lg {
  position: relative;
  overflow: hidden;
  border-radius: 16px 0 16px 16px;
  padding: 120px 24px;
  margin: 12px;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,0);

  @include start-at($medium) {
    padding: 118px 48px;
    margin: 24px;
    min-height: 80vh;
  }
}


.card-lg > div {
  position: relative;
  z-index: 2;


  svg {

  }
}

.card-lg__negative {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 270px;
  z-index: 2;
  height: auto;
  max-width: 30%;
}