// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------

.hero {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  padding: 32px;
  margin: 12px;
  background: $black;
  color: $white;

  @include start-at($medium) {
    padding: 48px;
    margin: 24px;
  }
}



.hero__content {
  position: relative;
  z-index: 2;

  max-width: 850px;

  svg {
    margin-bottom: 36px;
  }
}

.hero__content__bottom {
  position: relative;
  z-index: 2;
  margin-top: 24px;


  @include start-at($small) {
    max-width: 80%;
  }

  @include start-at($large) {
    max-width: 850px;
  }

  .h1,
  h1 {

    @include start-at($xlarge) {
      font-size: 64px !important;
    }
  }
}

.hero__subtract {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 96px;
  width: 30%;

  @include start-at($small) {
    width: 18%;
  }

  @include start-at($medium) {
    width: 134px;
    width: 8%;
  }

  @include start-at($large) {
    width: 164px;
    width: 12%;
  }

  //width: 10%;
}

// ----------------------------------------
//
// ----------------------------------------

.hero--sm {

  .hero__content {
    margin: 0 auto;
    padding: 48px 0;
    max-width: 606px;
  }
}


.hero__subtract-top-right {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 100%;
  z-index: 1;
}

.hero__subtract-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  z-index: 1;
}

.hero__subtract-bottom-right-lg,
.hero__subtract-bottom-right-sm {
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 100%;
  // height: 100%;
  z-index: 1;
}


// ----------------------------------------
//
// ----------------------------------------

.hero--programs {

  .hero__subtract-top-right {
    width: 40%;

    @include start-at(500px) {
      width: 30%;
    }

    @include start-at($medium) {
      display: none;
    }
  }

  .hero__subtract-bottom-right-sm {
    display: none;

    @include start-at($medium) {
      display: block;
    }
  }

  .hero__content {

    @include start-at($medium) {
      display: flex;
      align-items: center;
      grid-gap: 24px;

      svg {
        margin: 0;
      }
    }
  }

  @include stop-at($medium) {
    .h0 {
      font-size: 64px;
    }
  }
}

.hero--programs__shape {
  display: none;
}

@include start-at($medium) {
  .hero--programs {
    background: transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      background: $black;
      z-index: 1;
      border-radius: 40px;
    }

    .hero--programs__shape {
      transform: scaleY(-1);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: auto;
    }
  }
}


.hero__content>svg {}

.coin {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;

  &:hover {
    transform: rotateY(360deg);
  }
}

.rotate {
  transition: transform 0.1s ease;
  transform-origin: center;

  &:hover {
    animation: infiniteRotate 6s linear infinite;
  }
}


.blink {
  #eye {
    transition: transform 0.4s ease;
    transform-origin: center;
  }

  &:hover {
    #eye {
      animation: scaleYFlip .5s ease forwards;
    }
  }
}

@keyframes scaleYFlip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes infiniteRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bounce {
  display: block;
}

.bounce:hover {
  animation: bounce 1s ease-out forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-30px);
  }

  /* First, high bounce */
  40% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-15px);
  }

  /* Second, smaller bounce */
  100% {
    transform: translateY(0);
  }
}

.hero__content--resource-back {
  display: inline-flex;
  justify-content: flex-start;
  text-decoration: none !important;
}