// ---------------------------------------------------------------------
//  SCSS Settings
// ---------------------------------------------------------------------

$mobp: $large;

.media-object {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;

  @include start-at($mobp) {
    flex-direction: row;
    grid-gap: 48px;
    align-items: center;
  }
  @include start-at($large) {
    grid-gap: 60px;
    flex-direction: row;
    align-items: center;
  }
}

.media-object__media {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;

  img {
    margin: 0 auto;
  }

  @include start-at($mobp) {
    width: 50%;
  }
}

.media-object__content {

  @include start-at($mobp) {
    width: 50%;

    p {
      max-width: 600px;
    }
    h1, h2, h3,
    .h1, .h2, .h3 {
      max-width: 590px;
    }
  }
}

// ----------------------------------------
// Flip
// ----------------------------------------

.media-object--flip {
  @include start-at($mobp) {
    .media-object__media {
      order: 2;
    }
    .media-object__content {
      order: 1;
    }
  }
}


.media-object--stack {

  .media-object__media {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 360px;
    border-radius: 24px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  @include start-at($mobp) {
    flex-direction: column;
    grid-gap: 24px;

    .media-object__media {
      width: 100%;
    }
    .media-object__content {
      width: 100%;
    }
  }

  @include start-at($large) {
    .media-object__media {
      height: 450px;
    }
  }
}


// ----------------------------------------
// Wide content
// ----------------------------------------

.media-object--wide-content {

  @include stop-at($mobp) {
    .media-object__media img {
      max-width: 40%;
      margin: 0;
    }
  }

  @include start-at($mobp) {
    .media-object__media {
      width: 40%;
    }
    .media-object__content {
      width: 60%;
    }
  }
}


.media-object--flip--sm-img {
  @include stop-at($mobp) {
    .media-object__media img {
      max-width: 40%;
      margin: 0;
    }
  }
  @include start-at($mobp) {
    .media-object__media img {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
