// ---------------------------------------------------------------------
//  Modal
// ---------------------------------------------------------------------

.modal-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;

  > img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }

  &.is-active,
  &.modal-active {
    opacity: 1;
    pointer-events: inherit;
  }

  .modal__screen {
    background: transparent;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background: rgba(0,0,0,.2);


    &:hover {
      cursor: crosshair;
    }
  }
}



// ----------------------------------------
// Modal Inner
// ----------------------------------------

.modal {
  position: relative;
  max-width: calc(100% - 12px);
  max-height: calc(100% - 12px);
  border-radius: 3px;
  width: 960px;
  height: auto;
  overflow: auto;
  border-radius: 0;
  background: $white;
  transition: all $transition;
  padding: 36px;

  @include start-at($medium) {
    padding: 28px 36px 36px;
  }

  .f2 {
    font-size: 18px !important;
  }

  // @include stop-at($small) {
  // 	height: 100%;
  // 	width: 100%;
  // }
}


body.modal-is-active {
  overflow: hidden;
}


.modal__full {
  width: 100%;
  height: 100%;
}

// ----------------------------------------
// Modal Close
// ----------------------------------------

.modal__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: opacity $trans;
  color: $black;
  position: absolute;
  top: 18px;
  right: 18px;
  transform-origin: center;

  &:hover {
    transform: scale(1.05);
  }
}

.modal__hd {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 24px;
}


