// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------

.mr-auto {
  margin-left: auto;
}

.target-icon {
  width: 67px;
  transform-origin: center;

  &:hover {
    transform: scale(1.01);
  }

  @include start-at($medium) {
    width: 140px;
  }
}

// ----------------------------------------
//
// ----------------------------------------

